@import "./import";

.allCart{
    height: 100%;
    width:100%;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    font-size:1.2rem;
    .allItems{
        .item{
            display: flex;
            flex-wrap: wrap;
            min-height:150px;
            @include shadowPreset;
            border-radius: 15px;
            margin: 20px 0;
            .image{
                width:20%;
                img{
                    display: block;
                    width:100%;
                    height:100%;
                    object-fit: contain;
                }
            }
            .text{
                padding:15px;
                h4{
                    font-weight: 500;
                }
                ul{
                    list-style-position: inside;
                }
            }
        }
    }
    .totalCheckout{
        font-size:1.5em;
        padding:0 30px;
    }
}