@import './variables';
@import './animations';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

a{
    padding: 0;
}

.Homebar{
    //border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: $bar-height;
    position:sticky;
    top:0;
    z-index:2;
    background-color: map-get($colors, "lightest");
    border-radius: 0 0 15px 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    .icon{
        background-image: url('./Artsystuff/Hamburger\ menu.png');
        background-size: 2.6rem 1.8rem;
        background-repeat: no-repeat;
        background-position: center;
        width:68px;
        height:38px;
        float:left;
        display: block;
        position: relative;
        left:20px;
        top: calc($bar-height/2 - 19px);
        transition: transform 0.1s ease-in-out;
        &:hover{
            cursor:pointer;
        }
    }
    ul{
        float:right;
        height:inherit;
        //border:1px solid yellow;
        list-style-type: none;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight:800;
        li {
            padding: 1.3rem;
            //border: 1px solid pink;
            a{
                color:black;
                background-image: linear-gradient(black, black);
                background-size: 0% 0.1em;
                background-position-x: 50%;
                background-position-y: 100%;
                background-repeat: no-repeat;
                transition: background-size 0.2s;
                &:hover{
                   background-size: 90% 0.1em;
                }
            }
            &:last-child{
                padding-right: 2vw;
                a{
                    color:map-get($colors, "accent");
                    background-image: linear-gradient(map-get($colors, "accent"), map-get($colors, "accent"));
                }
            }
        }
    }
}