@import './import';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@keyframes yellowShine {
    0% {
        top: -350;
    }

    100% {
        top: 350px;
    }
}

:root {
    --width-size: 300px;
}

.container {
    width: 100%;
    //border:1px solid green;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: max-content;
    position: relative;

    canvas {
        box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.1) inset, -3px 0px 10px rgba(0, 0, 0, 0.1) inset;
        width: inherit;
        height: inherit;
        min-height: 0;
        background-color: rgb(255, 254, 238);
    }

    .mainContent {
        width: inherit;
        height: inherit;
        border-left: 3px solid map-get($colors, "accent");
        border-right: 3px solid map-get($colors, "accent");
        padding-bottom: 100px;

        .gallery {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;
            row-gap: 100px;
            width: inherit;
            height: auto;

            .card {
                display: block;
                width: var(--width-size);

                .text {
                    padding: 7px;
                    padding-top: 15px;
                    padding-bottom: none;
                    color: black;
                    line-height: 1.8;

                    h3 {
                        font-size: 1.5rem;
                    }

                    .wrap {
                        display: grid;
                        grid-template-columns: 2fr 1fr;
                        position: relative;

                        ul {
                            font-size: 1rem;
                            cursor: default;
                        }

                        .cartIcon {
                            position: relative;
                            font-size: 1.3rem;

                            &:hover {
                                cursor: pointer;
                            }

                            .items {
                                display: none;
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                z-index: 1;
                                color: map-get($colors, "accent");
                                top: -20px;
                                right: 5px;
                                font-size: 3vh;
                                text-shadow: 0px 0px 1px rgba(0, 0, 0, 1), 0 0 5px rgba(#FCF306, 0.6);
                            }
                            .price{
                                float:right;
                                padding-right:1.5vh;
                                font-size: 1.1rem;
                            }

                            .cartButton {
                                cursor: pointer;
                                width: 8vh;
                                height: 7vh;
                                padding: 0.5vh;
                                @include shadowPreset;
                                border-radius: 15px 15px 0px 0px;
                                background: url("./Artsystuff/cart.png") no-repeat center;
                                background-size: contain;
                                background-origin: content-box;
                                transition: background-color 0.2s;

                                &:hover {
                                    background-color: rgba(map-get($colors, "soft"), 1);
                                }
                            }

                            .cartButton,
                            .plusMinus {
                                position: relative;
                                left: 4vh;
                            }

                            .plusMinus {
                                //border:1px solid black;
                                border: none;
                                display: flex;
                                height: 2.5vh;
                                width: 8vh;
                                position: relative;
                                margin-top: 5px;
                                @include shadowPreset;
                                border-radius: 15px;
                                background-color: map-get($colors, "lightest");

                                .minusSpan,
                                .plusSpan {
                                    color: rgb(139, 139, 139);
                                    font-weight: 600;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    //border: 1px solid black;
                                    position: relative;
                                    width: inherit;
                                    height: inherit;
                                    //overflow: hidden;
                                    padding: 0;
                                    transition: background-image 0.1s;
                                    user-select: none;

                                    &:hover {
                                        .plusMinus {
                                            @include coloredShadowPreset;
                                        }
                                    }
                                }

                                .minusSpan {
                                    &:hover {
                                        border-radius: 15px;
                                        background-image: linear-gradient(to right, map-get($colors, "soft"), transparent);
                                    }
                                }

                                .plusSpan {

                                    &:hover {
                                        border-radius: 15px;
                                        background-image: linear-gradient(to right, transparent, map-get($colors, "soft"));
                                    }
                                }
                            }
                        }
                    }
                }

                .lamp {
                    width: var(--width-size);
                    height: 300px;
                    //style={{ backgroundImage: `url('${lamp.backimage}')` 
                    //background-image: url('./Artsystuff/lamp1.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: auto var(--width-size);
                    border-radius: 15px;
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                }

                &:hover {
                    .lamp {
                        border: 1px solid #FCF306;
                        box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.2), 3px -5px 10px rgba(0, 0, 0, 0.2);

                        &::before {
                            content: "";
                            width: inherit;
                            height: inherit;
                            background-image: linear-gradient(-15deg, transparent 40%, map-get($colors, "accent") 50%, transparent 60%);
                            position: absolute;
                            display: block;
                            border-radius: inherit;
                            opacity: 0.1;
                            top: -350px;
                            animation: yellowShine 0.9s ease-out;
                        }
                    }
                }

            }
        }

        .choose {
            width: inherit;
            height: 250px;
            margin-top: 50px;
            margin-bottom: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Montserrat', sans-serif;

            h2 {
                font-weight: 400;
                font-size: 2rem;
            }

            .slide {
                margin-left: 3vh;
                display: grid;
                grid-template-columns: 1fr 3fr 1fr;
                align-items: center;
                justify-items: center;

                img {
                    display: block;
                    width: 200px;
                    height:200px;
                    object-fit: contain;
                    border-radius: 10%;
                    border: 1px solid rgba(map-get($colors, "accent"), 0.3);
                    box-shadow: 5px 5px 15px rgba(map-get($colors, "accent"), 0.3), -5px -5px 15px rgba(map-get($colors, "accent"), 0.3);
                }

                button {
                    padding: 0;
                    margin: 30px;
                    height: 26.5px;
                    width: 20px;
                    border: none;
                    background-color: transparent;
                    transform: scale(0.7);
                    cursor: pointer;
                    background-repeat: no-repeat;
                    background-position: center;

                    &#left {
                        background-image: url('./Artsystuff/Path\ 2.png');
                    }

                    &#right {
                        background-image: url('./Artsystuff/Path\ 3.png');
                    }

                    &:hover {
                        opacity: 0.75;
                    }
                }
            }
        }
    }
}