@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@-webkit-keyframes moveUp {
  0% {
    top: 50px;
    opacity: 0.2;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes moveUp {
  0% {
    top: 50px;
    opacity: 0.2;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url("./Artsystuff/Montserrat-ExtraLight.ttf") format("ttf");
  font-weight: 200;
}
@-webkit-keyframes slowlyAppearing {
  0%, 100% {
    opacity: 0;
  }
}
@keyframes slowlyAppearing {
  0%, 100% {
    opacity: 0;
  }
}
.animate {
  -webkit-animation: moveUp 2s ease-out;
          animation: moveUp 2s ease-out;
}

a {
  text-decoration: none;
}

h1 {
  -webkit-animation: slowlyAppearing 0.25s ease-out;
          animation: slowlyAppearing 0.25s ease-out;
  color: #ffffff;
  font-size: 5rem;
  text-align: center;
}
@media (max-width: 400px) {
  h1 {
    font-size: 4rem;
  }
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-mask-image: url("./Artsystuff/mask2.png");
            mask-image: url("./Artsystuff/mask2.png");
  }
  50% {
    -webkit-mask-image: url("./Artsystuff/masktrial.png");
            mask-image: url("./Artsystuff/masktrial.png");
  }
  100% {
    -webkit-mask-image: url("./Artsystuff/mask2.png");
            mask-image: url("./Artsystuff/mask2.png");
  }
}

@keyframes pulsing {
  0% {
    -webkit-mask-image: url("./Artsystuff/mask2.png");
            mask-image: url("./Artsystuff/mask2.png");
  }
  50% {
    -webkit-mask-image: url("./Artsystuff/masktrial.png");
            mask-image: url("./Artsystuff/masktrial.png");
  }
  100% {
    -webkit-mask-image: url("./Artsystuff/mask2.png");
            mask-image: url("./Artsystuff/mask2.png");
  }
}
@-webkit-keyframes lightpulsing {
  0% {
    box-shadow: 0 0 25px 10px #FCF306, 0 0 30px 15px #ffffff;
  }
  50% {
    box-shadow: 0 0 10px 5px #FCF306, 0 0 10px 5px #ffffff;
  }
  100% {
    box-shadow: 0 0 25px 10px #FCF306, 0 0 30px 15px #ffffff;
  }
}
@keyframes lightpulsing {
  0% {
    box-shadow: 0 0 25px 10px #FCF306, 0 0 30px 15px #ffffff;
  }
  50% {
    box-shadow: 0 0 10px 5px #FCF306, 0 0 10px 5px #ffffff;
  }
  100% {
    box-shadow: 0 0 25px 10px #FCF306, 0 0 30px 15px #ffffff;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes magic {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes magic {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.color {
  color: #FCF306;
}

.Welcome {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.Welcome img {
  display: none;
}
.Welcome canvas {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: transparent;
}
.Welcome .particle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  z-index: 1;
  box-shadow: 0 0 25px 10px #FCF306, 0 0 30px 15px #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  filter: blur(1px);
  -webkit-animation-name: lightpulsing;
          animation-name: lightpulsing;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  z-index: 2;
  top: 0;
  left: 0;
}
.Welcome .particle .leftover {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 10px 2px #ffffff, 0 0 10px 2px #FCF306;
}
.Welcome .background {
  width: inherit;
  height: inherit;
  position: relative;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Welcome .background h1 {
  color: white;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  position: relative;
}
.Welcome .background .content {
  text-align: center;
  width: inherit;
  height: inherit;
  background-image: url("/public/temporary-background.jpg");
  background-size: 100% 100%;
  -webkit-mask-image: url("./Artsystuff/mask2.png");
          mask-image: url("./Artsystuff/mask2.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: -10rem -10rem;
          mask-position: -10rem -10rem;
  position: absolute;
  -webkit-mask-size: 20rem;
          mask-size: 20rem;
  will-change: mask-image;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation-name: pulsing;
          animation-name: pulsing;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.Welcome .background .content h1 {
  color: #000000;
}
.Welcome .trail {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  z-index: 1;
  box-shadow: 0 0 25px 10px #FCF306, 0 0 30px 15px #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  filter: blur(1px);
  box-shadow: 0 0 25px 7px #FCF306, 0 0 30px 6px #ffffff;
  width: 2px;
  height: 2px;
  -webkit-animation: fade 1s;
          animation: fade 1s;
  top: 0;
  left: 0;
}
.Welcome .floating {
  top: 50%;
  left: 50%;
  height: 60%;
  width: 60%;
  position: absolute;
  -webkit-animation: magic 15s infinite;
          animation: magic 15s infinite;
}
.Welcome .floating::before {
  content: "";
  position: absolute;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  z-index: 1;
  box-shadow: 0 0 25px 10px #FCF306, 0 0 30px 15px #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  filter: blur(1px);
  box-shadow: 0 0 70px 15px #ffffff, 0 0 50px 15px #FCF306;
  width: 35px;
  height: 35px;
  top: 50%;
  left: -25%;
  right: 25px;
}/*# sourceMappingURL=Welcome.css.map */