@import './variables';
@import './commonmixins';
@import './animations';



.flexWrapper {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: firebrick;
    z-index: 3;
    position: relative;

    .formBlock {
        height: auto;
        width: 60vw;
        padding: 50px;
        @include shadowPreset;
        border-radius: 15px;
        background-color: map-get($colors, "lightest");
        display: block;
        font-size: 1.2rem;
        line-height: 2rem;
        position: relative;

        .withMargin {
            margin-bottom: 40px;
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 50px;
            cursor: default;
        }

        label {
            padding-right: 15px;
        }

        input {
            width: 30vh;
            height: 1.5rem;
            font-size: 1rem;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
            border: none;

            &:focus-visible {
                outline: none;
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(map-get($colors, "accent"), 0.5);
                ;
            }

        }

        .line {
            display: block;
            margin: 20px 0px;
        }

        .noAccount {
            color: black;
            font-size: 0.9rem;
            position: absolute;
            bottom: 50px;

            &:hover {
                opacity: 0.8;
                .underline {
                    color: map-get($colors, "accent");
                }
            }
        }
    }
}

.color {
    color: map-get($colors, "accent");
}

.underline {
    color: black;
    text-decoration: underline map-get($colors, "accent") 2px;
    text-underline-offset: 2px;
    transition:color 0.15s;
}

.submit-wrapper {
    width: inherit;
    height: 50px;
    display: flex;
    place-content: center;
    margin-top: 30px;

    #submit {
        border-radius: 25px;
        font-size: 1rem;
        padding: 10px;
        width: 10vw;
        min-width: fit-content;
        height: fit-content;

        &:hover {
            @include coloredShadowPreset;
            cursor: pointer;
        }
    }
}